laravel/node_modules
laravel/public/build
laravel/public/hot
laravel/public/storage
laravel/storage/*.key
laravel/vendor
laravel/.env
laravel/.env.backup
laravel/.env.production
laravel/.phpunit.result.cache
laravel/Homestead.json
laravel/Homestead.yaml
laravel/auth.json
laravel/npm-debug.log
laravel/yarn-error.log
laravel/.fleet
laravel/.idea
laravel/.vscode

nestjs/node_modules
nestjs/.idea
nestjs/.awcache
nestjs/.vscode
nestjs/npm-debug.log
nestjs/quick-start
nestjs/test
nestjs/coverage
nestjs/.nyc_output
nestjs/dist
nestjs/chip_in_db