laravel/node_modules
laravel/public/build
laravel/public/hot
laravel/public/storage
laravel/storage/*.key
laravel/vendor
laravel/.env
laravel/.env.backup
laravel/.env.production
laravel/.phpunit.result.cache
laravel/Homestead.json
laravel/Homestead.yaml
laravel/auth.json
laravel/npm-debug.log
laravel/yarn-error.log
laravel/.fleet
laravel/.idea
laravel/.vscode

nestjs/node_modules
nestjs/.idea
nestjs/.awcache
nestjs/.vscode
nestjs/npm-debug.log
nestjs/quick-start
nestjs/test
nestjs/coverage
nestjs/.nyc_output
nestjs/dist
nestjs/chip_in_db
nestjs/.env

ruby_on_rails/.bundle
ruby_on_rails/log/*
ruby_on_rails/tmp/*
!ruby_on_rails/log/.keep
!ruby_on_rails/tmp/.keep
ruby_on_rails/tmp/pids/*
!ruby_on_rails/tmp/pids/
!ruby_on_rails/tmp/pids/.keep
ruby_on_rails/storage/*
!ruby_on_rails/storage/.keep
ruby_on_rails/tmp/storage/*
!ruby_on_rails/tmp/storage/
!ruby_on_rails/tmp/storage/.keep
ruby_on_rails/public/assets
ruby_on_rails/config/master.key
ruby_on_rails/.env

**/.DS_Store