BASE_URL_FOR_WEBHOOK="https://e8ec-2405-3800-88b-48e0-ecc8-a029-faa4-a748.ngrok.io"
CHIP_BRAND_ID="5d158ff2-257d-47ad-8d8c-896c25c4974c"
CHIP_API_KEY="X0bevpelKzwXX5cyu8qRhzlZ_hXP_cze6CJQ_GnP667hrFMFqYTmlPGIfvxjBXZZdpglP1kDiqcVYMOLPCygWA=="
CHIP_ENDPOINT="https://gate.chip-in.asia/api/v1"
CHIP_PUBLIC_KEY_FOR_WEBHOOK="-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAtdGBM0hSY9Lqn+pjpKJTcizw5N3ZubLThGLa9YD61Y/z12mhyh7oSajHEg/gnIReGw43pndV6f7foqIRZ68hIClqv5oa0qOiAuXEx02ybsZdFm1VC6IMGf+kiCep43KLIhqk3yTrgpimqa9335oggRw7tE4Ij4w18BFzm7f/wZX8eJvR/AcWSOylBTHyObgBqFkRKF+JyQgWafJyAr+TIQkYKWMPwlqzqRSkvtfNjvaXQYAVPi4sjkT1iBNBCSIARI8zYwbKzii0JXZu5wVVO4R0kUgyiYI+dNZLKluUIfSAqZDWBFJ4o+Rjl4P2VVAG93/KEvCXtTzc/NCLjBFBPQVKd4DkKjbWYI2sWlvIlVVtw6C/Sv4UHaPx46Gz3ZPHllhRcBDh9h3QCeR/cM94z8VhOZpHwV1Ky4G29XGmlg8k+TZXRCbgeokZdPHvD+C3KFzEvsR+WdKSfCGdwu6K9QbP761kuRmLYdPMW7iMZOMyZg5MurShhkwW3Qdrx5qRAgMBAAE=\n-----END PUBLIC KEY-----\n"
